@font-face {
  font-family: 'English111PrestoBT';
  src: url('fonts/8026804265.ttf');
}
@font-face {
  font-family: 'SerifaBT';
  src: url('fonts/serifa-bt.ttf');
}
@font-face {
  font-family: 'CenturyGothicBold';
  src: url('fonts/4637.ttf');
}
@font-face {
  font-family: 'SerifaBTBlack';
  src: url('fonts/serifa-blk-bt-black.ttf');
}

@font-face {
    font-family:"LinkedIn-Glyphs";
    src:url('fonts/LinkedIn-Glyphs-16px.eot');
    src:url('fonts/LinkedIn-Glyphs-16px.eot?#iefix') format('embedded-opentype'), url('fonts/LinkedIn-Glyphs-16px.woff') format('woff'),  url('fonts/LinkedIn-Glyphs-16px.ttf') format('truetype');
    font-weight:normal;
    font-style:normal;
}

.header-main{
	text-align:center;
	max-width:1000px;
	margin: auto;
    margin-bottom: 0;
    margin-top: 34px;
}
.header-main .logo{float:left; }

/* Primary Navigation */

.primary-navigation {

}

.primary-navigation.toggled-on {

}

.primary-navigation .nav-menu {
	/*display: none;*/
}

.primary-navigation.toggled-on .nav-menu {
	display: block;
}

.primary-navigation a {
	padding: 7px 0;
}


.menu-toggle {
 background-color: #414042;
    border-radius: 0;
    cursor: pointer;
    font-size: 0;
    height: 28px;
    margin: 5% 0;
    overflow: hidden;
    text-align: center;
    width: 100%;
}

.menu-toggle:before {
	color: #fff;
	content: "\f419\f419\f419\f419\f419\f419\f419\f419\f419\f419\f419\f419\f419\f419\f419";
	/*content: "Navigate to ...";*/
	margin-top: 16px;
}

.menu-toggle:active,
.menu-toggle:focus,
.menu-toggle:hover {
	background-color: #444;
}

.menu-toggle:focus {
	outline: 1px dotted;
}
.nav-menu{
	margin:0;
}

#menu-main-nav {
    padding-top: 10px;
}

.nav-menu li{
	border-right: 2px solid #818285;
    display: inline-block;
    list-style: none outside none;
    margin: 25px 0 15px;
    padding: 0 2%;
}
.nav-menu li:last-child {
	border-right:none;
}
.nav-menu  li:last-child a{ 
    border-right:none; 
} 

.nav-menu li a{color:#818285; font-size: 100%;}

/*Top Mobile Menu*/
.topMobileMenu{
	background-color:#2272ba;
	width:60%;
	float:left;
	height:32px;
	display:none;
}
#mobileMenu{width:100%; float:left; display:none;}
#mobileMenu ul{ margin:0; float:left; background-color:#414042; margin-bottom:20px; width:100%;}
#mobileMenu ul li{ list-style:none; margin:4px 5px; background-color:#414042; float:left;}
#mobileMenu ul li a{
	color: #FFFFFF;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 89%;	
}
#mobileMenu ul li a:hover{color:#fff;}

.topMobileMenu button:before {
	color: #fff;
	content: "\f419";
	display: inline-block;
    font: 16px/1 Genericons;
    text-decoration: inherit;
    vertical-align: text-bottom;
}

.topMobileMenu button:active,
.topMobileMenu button:focus,
.topMobileMenu button:hover {
	background-color: #444;
}
.topMobileMenu button{
	background-color: #414042;
	border-radius: 0;
	border:none;
	cursor: pointer;
	font-size: 0;
	height: 32px;
	margin: 0;
	overflow: hidden;
	padding: 0;
	text-align: center;
	width: 48px;	
}
/*Top Mobile Menu*/


.topBlockLeft{
	background-color:#2272ba;
	/*width:69%;*/
    width: 91%;
	float:left;
	text-align:right;
	height:29px;
}
.topBlockLeft ul{margin:6px 0 0 0;}
.topBlockLeft li{list-style-type:none; display:inline-block; margin-right:10px; }
.topBlockLeft a{
	color:#FFF;
	font-size: 84%;
	font-family:Arial, Helvetica, sans-serif;
}

.topBlockRight{
	background-color:#f1f0f0;
	/*width:31%;*/
    width: 9%;
	float:right;
	height:29px;
}
.topBlockRight .login{
	color: #595A5C;
	float: left;
	font-size: 89%;
	padding:6px;
}

.topBlockRight .icons{ float:right; margin-right:20px;}


.logoStrip {
    background: url("../images/logoStrip_bg.jpg") repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 100%;
    width: 100%;
	float:left;
	margin-bottom:50px;
}
#logoStripPanel {
    margin: auto;
    width: 85%;
}
#logoStripPanel #logos {
    border: 2px solid #cccccc;
    float: left;
    height: 100%;
    margin-left: 2%;
    margin-top: 0.5%;
    padding-left: 1%;
}
#logoStripPanel #logos ul {
    margin: 0;
    padding: 0;
}
#logoStripPanel #logos li {
    display: inline-block;
    float: left;
    list-style: none outside none;
    margin-right: 20px;
}
#loved_by {
    float: left;
}
#be_our_buddy {
    float: left;
    margin-left: 50px;
}
#logoStripPanel #social {
    border: 2px solid #cccccc;
    float: left;
    height: 100%;
    margin-left: 1%;
    margin-top: 0.5%;
    padding-left: 1%;
}
#logoStripPanel #social ul {
    margin: 0;
    padding: 0;
}
#logoStripPanel #social li {
    display: inline-block;
    float: left;
    list-style: none outside none;
    margin-right: 10px;
}

.overlap_wrapper {
	margin:auto;
    width:70%;
}
.big_search {
    background: url("../images/trans_bg.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
    float: left;
    padding: 4px;
    width: 100%;
	margin-top:50px;
}
.big_search_inner {
    background: none repeat scroll 0 0 #fff;
    float: left;
    width: 100%;
}
.big_search_inner .input_txtbox {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color #b7b7b7 -moz-use-text-color -moz-use-text-color;
    border-image: none;
    border-style: none solid none none;
    border-width: medium 2px medium medium;
    color: #a1a1a1;
    float: left;
    font-size: 25px;
    font-weight: bold;
    margin: 12px 0;
    padding: 12px 20px;
    width: 55%;
}
.drop_style {
    border: medium none;
    color: #8a8a8a;
    float: left;
    font-size: 18px;
    font-weight: bold;
    margin: 12px 0;
    padding: 16px 20px;
    width: 18%;
}
.big_search_inner .input_drop {
    border: medium none;
    margin: 12px -195px;
    opacity: 0;
    padding: 19px 20px;
    position: absolute;
    /*width: 22%;*/
}
.big_srch {
    background: url("../images/big_btn.jpg") repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    cursor: pointer;
    float: right;
    height: 81px;
    width: 134px;
    text-indent: -99999px;
}
.overlap_wrapper ul {
    float: left;
    margin: 55px 0 0 161px;
    padding: 0;
}
.overlap_wrapper ul li {
    float: left;
    list-style: none outside none;
}
.overlap_wrapper ul li a {
    background: none repeat scroll 0 0 #2272ba;
    box-shadow: 1px 2px 6px 1px rgba(36, 36, 36, 1);
    font-size: 23px;
    font-weight: bold;
    margin-right: 10px;
    padding: 10px 20px;
}

.option_section{float:left; padding-top:40px; margin:0 10px 55px!important;}

/*Footer*/
.site-footer{width:100%; margin:auto; float:left; background:none repeat scroll 0 0 #414042;}

#footerHouse{
	float:left; width:43.8%;background-color: #414042;
}
#footerHouse img{width:100%;}
#footer_main{
	margin:24px auto;
    width:65%;
}
.footer_main{
	background-color: #414042;
	width:100%;
	float:left;
}

#footer_block{
	float:left;
	width: 100%;
	margin-left:65px;
	margin-bottom:20px;
}
#footer_block .siteInfo, #footer_block .siteInfo a{ color:#FFF; margin-top:20px; line-height:15px; font-size:13px;}
#footer_block .siteInfo{float:left; width:30%;}
#footer_block .siteInfo img{float:left; margin-right:10px;}
#footer_block .siteInfo input{ padding:10px; margin-right:2px;}
.subscribe_to_us{width:40%!important;}

#footer_main .copyright{border-top:2px solid #575758; float:left; width:85%;color:#FFF;
	font-size: 62%;;
	margin-top:1%;
	padding-top:20px;
	margin-left:5%;
	padding-bottom:1.8%;
}

#footer_main .copyright ul{float:right; margin:0;}
#footer_main .copyright ul li:last-child {margin-right: 0;}
#footer_main .copyright ul li{display:inline-block; list-style:none;  margin-right:3px;}
#footer_main .copyright ul li a{color:#FFF; }
#scroll{
	bottom: 60px;
	float: right;
	height: 0;
	position: relative;
	right: 5px;
}
#scroll img{ float:left; }
/*Footer*/

@media screen and (max-width: 400px) {
	#footerHouse{width:100%!important;}
	#footer_main{width:100%!important; margin:0!important;}
	.footer_main{width:100%!important; margin:0!important;}
	#footer_block{margin:12% 0 0 12% !important;; width:100%!important;}
	#footer_main .copyright{margin-top:5%!important;padding-top:5%!important;}
}

@media screen and (min-width: 401px) and (max-width: 426px) { #logos li:nth-child(n+7) {display: none!important;} }

@media screen and (min-width: 501px) and (max-width: 1095px) {
	#logoLeftPanel{width:500px!important; float:none!important; margin:10px auto!important;}
	#logoRightPanel{width:500px!important; float:none!important; margin:auto!important;}
	#logoRightPanel #be_our_buddy{width:auto!important;}
	#logoRightPanel #social{width:auto!important;}
}

@media screen and (min-width: 401px) and (max-width: 850px) {
	#footerHouse{width:100%!important;}
	#footer_main{width:100%!important; margin:0!important;}
	.footer_main{width:100%!important; margin:0!important;}
	#footer_main .copyright{margin-top:5%!important;padding-top:5%!important;}

}

@media screen and (min-width: 401px) and (max-width: 660px) {
	#footer_block a img{width:100%!important;}
}


@media only screen and (min-width:848px) and (max-width: 1224px) {
	#footer_block a img{width:100%!important;}
}

@media only screen and (min-width:848px) and (max-width: 960px) {
	#footerHouse img{height:299px;}
}
@media only screen and (min-width:961px) and (max-width: 1023px) {
	#footerHouse img{height:288px;}
}
@media only screen and (min-width:970px) and (max-width: 990px) {
	#footerHouse img{height:286px;}
}
@media only screen and (min-width:991px) and (max-width: 1050px) {
	#footerHouse img{height:289px;}
}
@media only screen and (min-width:1051px) and (max-width: 1150px) {
	#footerHouse img{height:282px;}
}
@media only screen and (min-width:1151px) and (max-width: 1250px) {
	#footerHouse img{height:289px;}
}
@media only screen and (min-width:1251px) and (max-width: 1280px) {
	#footerHouse img{height:293px;}
}


/* Update Homepage */

.clear-fix {
    clear: both;
}

/* Banner anh strip logo */
.banner-slider .skdslider {
    /*height: 320px;*/
    /*height: auto;*/
}

.banner-slider .skdslider ul.slides li img {
    /*height: auto;*/
}

.banner-slider .skdslider:after {
    /*padding-top: 25%;*/
}

.header-strip {
    height: 10px;
    display: block;
   /* -webkit-box-shadow: inset 0px 5px 6px 0px #dedede;
    -moz-box-shadow: inset 0px 5px 6px 0px #dedede;
    box-shadow: inset 0px 5px 6px 0px #dedede;*/    
    -webkit-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.3);
    position: relative;
    z-index: 9999;
}

.banner-strip {
    height: 10px;
    display: block;
    background: #f0f0f0;
    -webkit-box-shadow: inset 0px 5px 6px 0px #dedede;
    -moz-box-shadow: inset 0px 5px 6px 0px #dedede;
    box-shadow: inset 0px 5px 6px 0px #dedede;
}

.strip-wrapper {
    background: url("../images/logoStrip_bg.jpg") left repeat-x scroll;
    height: 67px;
    width: 100%;
    position: relative;
    margin-bottom: 70px;
}

.strip-wrapper > div > h3 {
    font-family: 'English111PrestoBT', serif;
    font-size: 35px;
    color: #59595c;   
    padding: 0;
    margin: 0;
    display: inline-block;
    float: left;
    padding-top: 10px;
    padding-right: 5px;
}

.strip-wrapper > div > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    border: 2px solid #ccc;
    float: left;
    margin-top: 5px;
}

.strip-wrapper > div > ul > li {
    float: left;
    display: inline-block;
}

.strip-wrapper > div > ul > li > a {
    display: block;
    margin-right: 20px;
}

.strip-wrapper > div > ul > li:first-child > a {
    margin-left: 20px;
}

.strip-logos {
    float: left;
    margin-left: 5%;
}

.strip-socials {
    float: right;
    margin-right: 5%;
}


/* Search area */
.search-area {
    border: 2px solid #7e7e7e;
    display: block;
    width: 620px;
    margin: 0 auto;
    height: 55px;
    position: relative;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-family: 'CenturyGothicBold', serif;
}

.search-area .btn-home-search {
    background: url("../images/big_btn.jpg") left no-repeat;
    border: 0 none;
    cursor: pointer;
    float: right;
    height: 55px;
    width: 90px;
    text-indent: -99999px;
    background-size: auto 100%
}

.search-area .input_txtbox {
    border-image: none;
    border-style: none solid none none;
    border-width: medium 1px medium medium;
    border-color: #7e7e7e;
    color: #a1a1a1;
    float: left;
    font-size: 18px;
    font-weight: bold;
    margin: 12px 0;
    padding: 5px 15px;
    width: 55%;
    font-family: 'CenturyGothicBold', serif;
}

.search-area select.input_drop {
    position: absolute;
    right: 90px;
    width: 22%;
    margin-top: 20px;
    opacity: 0;
}

.search-area .drop_pseudo {
    border: medium none;
    color: #8a8a8a;
    position: absolute;
    right: 75px;
    font-size: 13px;
    width: 22%;
    margin-top: 20px;
}

.search-area.find-sme {
    width: 430px;
    height: 40px;
    background: #fff;
}

.search-area.find-sme .input_txtbox {
    font-size: 13px;
    margin: 7px 0;
    width: 53%;
}

.search-area.find-sme .btn-home-search {
    height: 40px;
    width: 64px;
}

.search-area.find-sme .drop_pseudo, .search-area.find-sme select.input_drop {
    font-size: 11px;
    width: 20%;
    margin-top: 13px;
    right: 75px;
}

/* Button post */
.buttons-post {
    display: block;
    position: relative;
    padding: 20px;
    margin: auto;
    width: 672px;
    overflow: hidden;
    margin-top: 10px;
    font-family: 'SerifaBTBlack', serif;
}

.buttons-post ul {
    float: left;
}

.buttons-post li {
    list-style: none;
    float: left;
    display: inline-block;
}

.buttons-post li a {
    color: #fff;
    display: block;
    padding: 5px 20px;
    font-size: 18px;
}

.buttons-post li a.post-my-project {
    background: #2272ba;
    -webkit-box-shadow: 1px 3px 6px 1px rgba(36, 36, 36, 0.8);
    -moz-box-shadow: 1px 3px 6px 1px rgba(36, 36, 36, 0.8);
    box-shadow: 1px 3px 6px 1px rgba(36, 36, 36, 0.8);
    margin-right: 20px;
    margin-left: 45px;
}

.buttons-post li a.sme-join-now {
    background: #be202e;
    
    -webkit-box-shadow: 1px 3px 6px 1px rgba(36, 36, 36, 0.8);
    -moz-box-shadow: 1px 3px 6px 1px rgba(36, 36, 36, 0.8);
    box-shadow: 1px 3px 6px 1px rgba(36, 36, 36, 0.8);
}

/* Categories section */
.categories-section {
    overflow: hidden;
    margin: 40px auto 50px;
    width: 92%;
    padding-left: 3%;
    font-family: 'SerifaBT', serif;
}

.categories-section > h1 {
    text-align: center;
    margin-bottom: 10px;
    width: 97%;
}

.categories-section > p {
    text-align: center;
    font-weight: bold;
    margin-top: 0;
    width: 93%;
    font-size: 18px;
}

.categories-section > .cat-list {
    display: block;
    margin: 80px auto;
}

.categories-section > .cat-list > .cat {
    border: 1px solid #636363;
    float: left;
    background: #ebebeb;
    text-align: center;
    margin-right: 15px;
    margin-bottom: 15px;
    width: 23%;
    position: relative;
    /*height: 130px;*/
}

.categories-section > .cat-list > .cat > .cat-overlay {
    position: absolute;
    top: 0;
    background: rgba(0,0,0,0.5);
    /*height: 130px;*/
    width: 100%;
    color: #fff;
    display: none;
    height: 100%;
}

.categories-section > .cat-list > .cat > .cat-overlay a {
    background: #2272ba;
    display: inline-block;
    padding: 5px 20px;
    font-weight: bold;
    margin-top: 55px;
    font-size: 13px;
}

.categories-section > .cat-list > .cat > .cat-show img {
    width: 34%;
    padding-top: 5px;
}

.categories-section > .cat-list > .cat > .cat-show p {
    margin: 0px;
    margin-bottom: 10px;
}


/* Talents section */
.talents-section {
    background: url(../images/homepage/talents_bg.jpg) right no-repeat #333333;
    background-size: 65% 100%;
    height: 324px;
    color: #fff;
}

.talents-section .twrapper {
    overflow: hidden;
    display: table;
    margin: 0 auto;
}

.talents-section .talents-title {
    width: 25%;
    float: left;
    margin-left: 10%;
    margin-top: 10px;
}

.talents-section .talents-title h1 {
    width: 77%;
}

.talents-section ul.talents {
    list-style: none;
    float: left;
    position: relative;
    margin-top: 50px;
}

.talents-section ul.talents li.talent {
    float: left;
    text-align: center;
    margin: 0 25px;
    height: 224px;
}

.talents-section ul.talents li.talent:first-child {
    margin-left: 0px;
}

.talents-section ul.talents li.talent:last-child {
    margin-right: 0px;
}

.talents-section ul.talents li.talent img {
    -webkit-border-radius: 55px;
    -moz-border-radius: 55px;
    border-radius: 55px;
}

.talents-section ul.talents li.talent p.talent-fname {
    margin-top: 15px;
    margin-bottom: 0;
    font-size: 20px;
}

.talents-section ul.talents li.talent p.talent-lname {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 20px;
}


/* How it works section */
.howitworks-section {
    background: none repeat scroll 0 0 #2272ba;
    position: relative;
    min-height: 200px;
    width: 100%;
    color: #fff;
    overflow: hidden;
    text-align: center;
    font-family: 'SerifaBT', serif;
}

.howitworks-section > h2 {
    font-size: 32px;
    font-weight: 500;
    margin: 40px 0 0;
}

.howitworks-section > p {
    font-size: 22px;
    font-weight: 500;
    margin: 10px 0 120px;
}

.howitworks-section ul {
    list-style: none;
    position: relative;
    overflow: hidden;
    padding: 0 5% 0 10%;

}

.howitworks-section li {
  float: left;
  text-align: center;
  width: 32%;
}

.howitworks-section li img {
    width: 73%;
}

.howitworks-section li h4 {
    font-size: 22px;
    font-weight: 500;
    margin: 40px 0 0;
}

.howitworks-section li p {
    margin: 5px 0 60px;
    padding: 0 10%;
}


/* Testimonials section */
.testimonials-section {
    text-align: center;
    color: #414042;
    margin-bottom: 50px;
    font-family: 'SerifaBT', serif;
}

.testimonials-section h1 span {
    text-align: center;
    color: #2272ba;
}

.testimonials-section .view-all-testimonials a {
    background: #2272ba;
    display: inline-block;
    padding: 10px 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-align: center;
    /*font: bold 12px/33px Arial, Helvetica, sans-serif;*/
}

.testimonials-section .view-all-testimonials a:hover {
    background: url("../images/btn_hover.jpg") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
    background-size: 100%;
}

.testimonials-section .testimonials {
    overflow: hidden;
    padding: 0 5% 0 18%;
    margin-bottom: 50px;
    padding-top: 20px;
}

.testimonials-section .testimonial {
    float: left;
    width: 50%;
}

.testimonials-section .testimonial .testimonial-user-avatar {
    float: left;
    padding-right: 30px;
}

.testimonials-section .testimonial .testimonial-user-avatar img {
    -webkit-border-radius: 55px;
    -moz-border-radius: 55px;
    border-radius: 55px;
}

.testimonials-section .testimonial-user-content p {
    margin: 0;
    padding: 0;
    text-align: left;
    padding-right: 30px;
    color: #898989;
}

.testimonials-section .testimonial-user-content hr {
    margin-right: 50px;
}

.testimonials-section .testimonial-user-content p.testimonial-user-fullname {
    color: #414042;
    font-weight: bold;
    font-size: 20px;
}


/* RESPONSIVE */

@media (min-width: 320px) and (max-width: 480px) {


    .categories-section > .cat-list > .cat {
        width: 95%;
    }
    .talents-section ul.talents li.talent {
        width: 40%;
        margin: 0 12px;
    }

    .talents-section ul.talents li.talent:first-child {
        /*margin-left: 0;*/
        margin: 0 12px;
    }
    .howitworks-section li {
        width: 95%;
    }
    .testimonials-section .testimonial {
        width: 100%;
        margin-bottom: 50px;
    }
    .testimonials-section .testimonial-user-content hr, .testimonials-section .testimonial-user-content p {
        padding-right: 0;
    }
}

@media (min-width: 480px) and (max-width: 768px) {
    .categories-section > .cat-list > .cat {
        width: 46%;
    }
    .talents-section ul.talents li.talent {
        width: 40%;
    }
    .talents-section ul.talents li.talent:first-child {
        margin-left: 25px;
    }
  /*  .talents-section ul.talents li.talent:nth-child(3) {
        margin-left: 0;
    }*/


}

@media (min-width: 768px) and (max-width: 992px) {
    .categories-section > .cat-list > .cat {
        width: 30%;
    }
    
}

@media (max-width: 600px) {
    .header-main .logo {
        float: none;
    }
    #primary-navigation {
        clear: both;
    }
    #menu-main-nav {
        padding-left: 0;
    }
}


@media (min-width: 560px) and (max-width: 690px) {
    
    .buttons-post {
        width: 100%;
        margin: 0;
        padding: 20px 0;
    }

    .buttons-post ul {
        padding: 0;
        display: table;
        margin: auto;
        float: none;
    }

    .buttons-post li a.post-my-project {
        margin-left: 0;
    }
}

@media (max-width: 560px) {
    .buttons-post {
        width: 100%;
        padding: 0;
    }

    .buttons-post ul {
        float: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    .buttons-post li {
        width: 87%;
        float: none;
        display: block;
        margin: 30px auto 0;
    }

    .buttons-post li a {
        width: 87%;
        margin: 5px 0 !important;
        font-size: 20px;
        text-align: center;
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

@media (max-width: 992px) {
    .talents-section {
        height: auto;
    }
    .talents-section .talents-title {
        width: 95%;
        float: none;
        margin-left: 0;
    }
    .talents-section .talents-title > h1, .talents-section .talents-title > p {
        width: 100%;
        text-align: center;
    }
    .talents-section ul.talents {
        padding: 0;
        margin: 50px auto 30px;
        float: none;
        overflow: hidden;
    }

}

@media (min-width: 1200px) {
  
}


@media (min-width: 320px) and (max-width: 480px) {
    .search-area {
        width: 95%;
        height: 40px;
    }

    .search-area form {
        width: 100%;
        height: 100%;
    }

    .search-area .input_txtbox {
        margin: 2% 0;
        font-size: 14px;
        width: 39%;
    }

    .search-area .drop_pseudo, .search-area select.input_drop {
        right: 22%;
        font-size: 11px;
        width: 27%;
        margin-top: 4%;
    }

    .search-area .btn-home-search {
        height: 100%;
        width: 22%;
        background-size: 100% 100%;
    }
}

@media (max-width: 568px) {
    
     /*Mobile Menu*/
    .topBlockLeft {
        height: auto;
        padding-top: 29px; 
    }
    .topBlockLeft .mobile-menu {
        content: "";
        background: url('../images/nav-icon.png') no-repeat;
        width: 30px;
        height: 30px;
        display: inline-block;
        position: absolute;
        left: 15px;
        top: 5px;
        cursor: pointer;
    }
    .topBlockLeft ul {
        margin-top: 0;
        background: #2f3036;
        z-index: 99999;
        position: relative;
        display: none;
        padding-left: 0;
    }

    .topBlockLeft li {
        display: block;
        text-align: left;
        border-bottom: 1px solid #fff;
        margin-right: 0;
    }

    .topBlockLeft li a {
        display: block;
        padding: 10px 15px;
    }

    .topBlockLeft li:hover a {
        background: #2272ba;
    }

    .search-area {
        width: 95%;
    }    
}

@media (min-width: 480px) and (max-width: 500px) {
    .search-area {
        width: 95%;
        height: 55px;
    }

    .search-area form {
        width: 100%;
        height: 100%;
    }

    .search-area .input_txtbox {
        margin: 3% 0;
        font-size: 14px;
        width: 51%;
    }

    .search-area .drop_pseudo, .search-area select.input_drop {
        right: 18%;
        font-size: 11px;
        width: 20%;
        margin-top: 5%;
    }

    .search-area .btn-home-search {
        height: 100%;
        width: 20%;
        background-size: 100% 100%;
    }
}

@media (max-width: 1112px) {

    .topBlockLeft {
        width:69%;
    }

    .topBlockRight {
        width:31%;
    }

    .strip-wrapper {
        height: 60px;
    }

    .strip-wrapper .strip-socials ul li a img {
        height: 55px;
    }

    .strip-wrapper .strip-logos ul li a img {
        height: 45px;
    }

    .strip-wrapper > div > h3 {
        display: none;
    }

    .strip-wrapper .strip-logos {
        width: 100%;
        position: relative;
        display: block;
        overflow: hidden;
        float: right;
        margin: 0;
    }

    .strip-wrapper .strip-logos ul {
        overflow: hidden;
        float: none;
        display: table;
        margin: 5px auto 0;
    }

    .strip-wrapper .strip-logos ul li:first-child > a {
        margin-left: 5px;
    }

    .strip-wrapper .strip-logos ul li:last-child > a {
        margin-right: 5px;
    }    

    .strip-wrapper .strip-socials {
        width: 100%;
        position: relative;
        display: block;
        overflow: hidden;
        float: right;
        margin: 20px 0;
    }  

    .strip-wrapper .strip-socials ul {
        float: none;
        margin: 0 auto;
        display: table;
    }    

     #footer_main .copyright {
        text-align: center;
    }

    #footer_main .copyright ul {
        float: none;
        padding: 0;
    }
}

@media (max-width: 768px) {
    .header-main {
        margin-bottom: 15px;
    }

    #loginPage .inner-middle {
        width: 92%;
    }

    .nav-menu li{
        margin-bottom: 0;
    }

}

@media (max-width: 568px) { 
    .strip-wrapper {
        height: 60px;
    }

    .strip-wrapper .strip-socials ul li a img {
        height: 55px;
    }

    .strip-wrapper .strip-logos ul li a img {
        height: 45px;
    }


}

@media (max-width: 480px) {
    #footer_block .siteInfo {
        float: none;
        width: 90% !important;
    }
}

@media (max-width: 320px) {
    .strip-wrapper {
        height: 40px;
    }

    .strip-wrapper .strip-logos ul li a img {
        height: 25px;
    }

    .strip-wrapper .strip-socials ul li a img {
        height: 35px;
    }

    .buttons-post li a {
        font-size: 16px;
    }
}

@media (min-width: 1112px) and (max-width: 1227px) {
    .strip-wrapper > div > h3 {
        font-size: 28px;
        padding-top: 15px;
    }

    .strip-wrapper .strip-logos ul li a img {
        height: 48px;
    }

    .strip-wrapper .strip-socials ul li a img {
        height: 48px;
    }
}

/*Update 8-9-2014 User Profile */

.user-profile-area, .user-profile-banner, .user-profile-banner img {
    width: 100%;
    background: #ebebeb;
    position: relative;
    z-index: 9;
}


.user-profile-container {
    width: 82%;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
    z-index: 999;
    top: -100px;
}

.user-profile-header {
    position: relative;
}

.user-profile-header .up-avatar {
    width: 145px;
    height: 145px;
    float: left;
    border: 10px solid #fff;
}

.user-profile-header .up-avatar img {
    width: 100%;
    height: 100%;
}

.user-profile-header .up-infors {
    display: inline-block;
    width: 80%;
    margin-left: 10px;
}

.up-infors h1 {
    margin-bottom: 5px;
}

.up-infors p {
    margin-top: 5px;
    margin-bottom: 10px;
    font-weight: bold;
    min-height: 20px;
}

.the-gru-of {
    overflow: hidden;
    margin-top: 25px;
}

.the-gru-of h4 {
    display: inline-block;
    float: left;
    margin-top: 0;
    color: #2272ba;
    padding: 5px 10px;
    margin-top: 7px;
    font-weight: bold;
}

.the-gru-of span {
    float: left;
    display: inline-block;
    padding: 5px 10px;
    color: #fff;
    background: #afafaf;
    margin-left: 5px;
    font-size: 12px;
    margin-top: 10px;
}

.the-gru-of a {
    text-decoration: none;
}

.user-profile-sidebar {
    float: left;
    /*border: 1px solid #959595;*/
    /*background: #fff;*/
    width: 18%;
}

.user-profile-data-area {
    width: 80%;
    float: right;
    /*background: #fff;*/
    /*border: 1px solid #959595;*/
}

.up-contact {
    background: #2272ba;
    display: inline-block;
    padding: 10px 45px;
    margin-top: 1em;
    margin-right: 2em;
    text-decoration: none;
}

.up-contact:hover, .up-contact:focus {
    text-decoration: none;
    color: #fff;
    background-color: #0073b2;
}

/*CSS for nav tabs*/

.nav {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
.nav > li {
  position: relative;
  display: block;
}
.nav > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
}
.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: #eeeeee;
}
.nav > li.disabled > a {
  color: #777777;
}
.nav > li.disabled > a:hover,
.nav > li.disabled > a:focus {
  color: #777777;
  text-decoration: none;
  background-color: transparent;
  cursor: not-allowed;
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background-color: #eeeeee;
  border-color: #428bca;
}
.nav .nav-divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
.nav > li > a > img {
  max-width: none;
}
.nav-tabs {
  border-bottom: 1px solid #dddddd;
}
.nav-tabs > li {
  float: left;
  margin-bottom: -1px;
}
.nav-tabs > li > a {
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
}
.nav-tabs > li > a:hover {
  border-color: #eeeeee #eeeeee #dddddd;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #555555;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-bottom-color: transparent;
  cursor: default;
}
.nav-tabs.nav-justified {
  width: 100%;
  border-bottom: 0;
}
.nav-tabs.nav-justified > li {
  float: none;
}
.nav-tabs.nav-justified > li > a {
  text-align: center;
  margin-bottom: 5px;
}
.nav-tabs.nav-justified > .dropdown .dropdown-menu {
  top: auto;
  left: auto;
}
@media (min-width: 768px) {
  .nav-tabs.nav-justified > li {
    display: table-cell;
    width: 1%;
  }
  .nav-tabs.nav-justified > li > a {
    margin-bottom: 0;
  }
}
.nav-tabs.nav-justified > li > a {
  margin-right: 0;
  border-radius: 4px;
}
.nav-tabs.nav-justified > .active > a,
.nav-tabs.nav-justified > .active > a:hover,
.nav-tabs.nav-justified > .active > a:focus {
  border: 1px solid #dddddd;
}
@media (min-width: 768px) {
  .nav-tabs.nav-justified > li > a {
    border-bottom: 1px solid #dddddd;
    border-radius: 4px 4px 0 0;
  }
  .nav-tabs.nav-justified > .active > a,
  .nav-tabs.nav-justified > .active > a:hover,
  .nav-tabs.nav-justified > .active > a:focus {
    border-bottom-color: #ffffff;
  }
}
.nav-pills > li {
  float: left;
}
.nav-pills > li > a {
  border-radius: 4px;
}
.nav-pills > li + li {
  margin-left: 2px;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #ffffff;
  background-color: #428bca;
}
.nav-stacked > li {
  float: none;
}
.nav-stacked > li + li {
  margin-top: 2px;
  margin-left: 0;
}
.nav-justified {
  width: 100%;
}
.nav-justified > li {
  float: none;
}
.nav-justified > li > a {
  text-align: center;
  margin-bottom: 5px;
}
.nav-justified > .dropdown .dropdown-menu {
  top: auto;
  left: auto;
}
@media (min-width: 768px) {
  .nav-justified > li {
    display: table-cell;
    width: 1%;
  }
  .nav-justified > li > a {
    margin-bottom: 0;
  }
}
.nav-tabs-justified {
  border-bottom: 0;
}
.nav-tabs-justified > li > a {
  margin-right: 0;
  border-radius: 4px;
}
.nav-tabs-justified > .active > a,
.nav-tabs-justified > .active > a:hover,
.nav-tabs-justified > .active > a:focus {
  border: 1px solid #dddddd;
}
@media (min-width: 768px) {
  .nav-tabs-justified > li > a {
    border-bottom: 1px solid #dddddd;
    border-radius: 4px 4px 0 0;
  }
  .nav-tabs-justified > .active > a,
  .nav-tabs-justified > .active > a:hover,
  .nav-tabs-justified > .active > a:focus {
    border-bottom-color: #ffffff;
  }
}
.tab-content > .tab-pane {
  display: none;
}
.tab-content > .active {
  display: block;
}
.nav-tabs .dropdown-menu {
  margin-top: -1px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.clearfix:before,
.clearfix:after,
.nav:before,
.nav:after {
  content: " ";
  display: table;
}
.clearfix:after,
.nav:after {
  clear: both;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.hidden {
  display: none !important;
  visibility: hidden !important;
}
.affix {
  position: fixed;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}


#up-tabs {
    background: #fff;
    border: 1px solid #959595;
    margin-top: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#up-tabs.nav-tabs > li {
    width: 92%;
    margin: 5px auto;
    float: none;
    background: #ebebeb;
}

#up-tabs.nav-tabs > li > a {
    padding: 7px 15px;
    color: #413b39;
    font-weight: bold;
    padding-left: 40px;
}

.up-icon-overview {
    background: url(../images/up_icon_overview.png) left no-repeat;
    background-size: auto 100%;
}

.up-icon-portfolio {
    background: url(../images/up_icon_portfolio.png) left no-repeat;
    background-size: auto 100%;
}

.up-icon-feedback {
    background: url(../images/up_icon_feedback.png) left no-repeat;
    background-size: auto 100%;
}

.up-icon-skills {
    background: url(../images/up_icon_skills.png) left no-repeat;
    background-size: auto 100%;
}

#up-tabs.nav-tabs > li.active > a, #up-tabs.nav-tabs > li.active > a:hover, #up-tabs.nav-tabs > li.active > a:focus {
    border: none;
    background-color: #2272ba;
    color: #fff;
    margin-right: 0;
    border-radius: 0;
}

#up-content {
    margin-top: 30px;
    background: transparent;
    color: #000;
}

.up-content-section {
    background: #fff;
    border: 1px solid #959595;
    padding-top: 28px;
    padding-left: 28px;
    margin-bottom: 20px;
}

.up-content-section h3 {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 0px;
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: normal;
    line-height: 18px;
    color: #434649;
}

.up-content-section h3:before {
    float: left;
    width: 50px;
    font-family: "LinkedIn-Glyphs";
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    speak: none;
    font-size: 32px;
    color: inherit;
}

.up-content-section.up-summary h3:before {    
    content: "\e039";
}

.up-content-section.up-experience h3:before {
    content: "\e03a";
}

.up-content-section.up-skills-endor h3:before {
    content: "\e03c";
}

.up-content-section.up-education h3:before {
    content: "\e03b";
}

#up-portfolio h3:before {
    content: "\e03e";
}

#up-feedback h3:before {
    content: "\e041";
}

.up-content-section.up-summary > p {
    margin-bottom: 30px;
}

.up-content-view {
    margin-bottom: 30px;
}

.up-content-view > h4 {
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    color: #000;
    margin-top: 0px;
    margin-bottom: 4px;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
    display: inline;
} 

.up-content-view > h5 {
    font-size: 14px;
    font-weight: normal;
    line-height: 16px;
    color: #434649;
    margin-top: 0px;
    margin-bottom: 4px;
}

.up-content-view > span {
    display: block;
    margin-top: 3px;
    margin-bottom: 0px;
    color: #999;
    font-size: 13px;
    line-height: 17px;
}

.up-content-view > p {
    margin-top: 10px;
    margin-bottom: 0px;
}


#profile-skills {
    width: 95%;
}

#profile-skills h5 {
    font-size: 14px;
    font-weight: normal;
    line-height: 16px;
    color: #434649;
    margin-top: 30px;
    margin-bottom: 0px;
}

#profile-skills ul {
    list-style: none;
}

.skills-section {
    margin-top: 20px;
    margin-bottom: 0px;
}


#profile-skill a {
    text-decoration: none;
}

.endorse-item {
    margin-top: 0px;
    margin-bottom: 6px;
    overflow: hidden;
}

.skills-section .skill-pill {
    float: left;
    margin-top: 2px;
    margin-bottom: 0px;
}

.skill-pill {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
    overflow: hidden;
    cursor: default;
    white-space: nowrap;
}

.skill-pill .endorse-count, .skill-pill .endorse-item-name {
    float: left;
    line-height: 24px;
}

.endorse-count {
    font-weight: bold;
    font-size: 12px;
    color: #fff;
    text-shadow: #666 0 1px 0;
    -webkit-transition: min-width 0.2s linear;
    -moz-transition: min-width 0.2s linear;
    -o-transition: min-width 0.2s linear;
    transition: min-width 0.2s linear;
    background-color: #1ba8e5;
    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    -ms-border-radius: 3px 0 0 3px;
    -o-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
    text-align: center;
    border-bottom: 1px solid #1ba8e5;
    min-width: 22px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 2px;
    padding-right: 2px;
}

a.endorse-count:hover, a.endorse-count:focus {
    background-color: #0073b2;
    border-bottom-color: #0073b2;
    text-decoration: none;
    color: #fff;
}


.endorse-count .num-endorsements {
    font-weight: bold;
    color: #fff;
    display: inline;
}


.endorse-item-name {
    padding-top: 4px;
    padding-bottom: 3px;
    padding-left: 13px;
    padding-right: 13px;
    font-size: 13px;
    color: #333;
    font-weight: normal;
    background-color: #f0f0f0;
    position: relative;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    -ms-border-radius: 0 3px 3px 0;
    -o-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
}

a.endorse-item-name-text {
    font-size: 13px;
    line-height: 17px;
    color: #333;
    font-weight: normal;
    text-decoration: none;
}

a.endorse-item-name-text.hover, a.endorse-item-name-text:hover, a.endorse-item-name-text.focus, a.endorse-item-name-text:focus {
    text-decoration: none;
    color: #0077b5;
    cursor: pointer;
}


a.endorse-item-name-text {
    font-size: 13px;
    line-height: 17px;
    color: #333;
    font-weight: normal;
    text-decoration: none;
}

.endorsers-container {
    overflow: hidden;
}

.endorsers-pics {
    float: right;
    overflow: visible;
    margin-left: 10px;
    margin-right: 0px;
    height: 27px;
    padding-left: 10px;
}

.endorsed-by-viewer .viewer-pic-container {
    width: 24px;
    right: 0;
}

.endorsers-pics li {
    float: left;
    margin-left: 1px;
    margin-right: 0px;
    height: 24px;
}

.viewer-pic-container {
    position: relative;
    -webkit-transition: right 0.2s linear;
    -moz-transition: right 0.2s linear;
    -o-transition: right 0.2s linear;
}

.endorsed-by-viewer .viewer-pic {
    width: 24px;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
    border-bottom-width: 2px;
}
.viewer-pic {
    -webkit-transition: opacity 0.2s linear,border-width 0.2s linear;
    -moz-transition: opacity 0.2s linear,border-width 0.2s linear;
    -o-transition: opacity 0.2s linear,border-width 0.2s linear;
    transition: opacity 0.2s linear,border-width 0.2s linear;
    border-bottom-style: solid;
    border-bottom-color: #1ba8e5;
    padding-top: 0px;
    padding-bottom: 1px;
    width: 24px;
    height: 24px;
}

.endorsers-action {
    padding-top: 7px;
    padding-bottom: 0px;
    padding-left: 10px;
    padding-right: 0px;
    height: 20px;
}

.see-all-endorsers {
    height: 0;
    width: 0;
    border-style: dashed;
    border-color: transparent;
    border-width: 6px 0 6px 6px;
    border-left-color: #ccc;
    border-left-style: solid;
    text-indent: -119988px;
    overflow: hidden;
    text-align: left;
    display: block;
}
.endorsers-container .see-all-endorsers {
    position: relative;
    font-weight: bold;
    text-align: center;
    line-height: 24px;
    width: 42px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 3px;
    padding-right: 3px;
    text-align: right;
}

.endorsers-container .see-all-endorsers .loader {
    display: none;
}

.line-container {
    line-height: 24px;
    padding-top: 13px;
    padding-bottom: 0px;
    padding-left: 10px;
    padding-right: 0px;
    display: block;
    margin-left: 0px;
    margin-right: 23px;
}

.line-container .hr-line {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}
.hr-line {
    border-top: 1px solid #f4f4f4;
    margin-top: 12px;
    margin-bottom: 0px;
    margin-left: 10px;
    margin-right: 0px;
    overflow: hidden;
    height: 12px;
    display: block;
}

.skills-section.compact-view {
    margin-bottom: 40px;
}

.compact-view .endorse-item {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
    margin-top: 0px;
    margin-bottom: 5px;
    margin-left: 0px;
    margin-right: 5px;
}

.compact-view .endorse-item-name {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}

/* Update portfolio on profile */

#slider { 
    width: 612px; 
    height:250px; 
}

.slidetxt a.portfolio_attm {
    display: block;
    margin-top: 15px;
}

.user-profile-sidebar #invidebox {
    width: 100%;
    background: #fff;
    border: 1px solid #959595;
    float: none;
    overflow: hidden;
    border-radius: 0;
    display: none;
    margin: 10px 0;
}

#up-portfolio h3 {
    float: left;
    display: inline;
}

#up-portfolio .upps {
    display: block;
    overflow: hidden;
}

#up-portfolio .portfolio_edit_btn {
    background: url(../images/edit_icon.jpg) left no-repeat; 
    padding-left: 21px;
    height: 18px;
    display: inline-block;
    margin-top: 15px;
}