
.header-main{
	text-align:center;
	max-width:1000px;
	margin:3% auto;
}
.header-main .logo{float:left; }

/* Primary Navigation */

.primary-navigation {

}

.primary-navigation.toggled-on {

}

.primary-navigation .nav-menu {
	/*display: none;*/
}

.primary-navigation.toggled-on .nav-menu {
	display: block;
}

.primary-navigation a {
	padding: 7px 0;
}


.menu-toggle {
 background-color: #414042;
    border-radius: 0;
    cursor: pointer;
    font-size: 0;
    height: 28px;
    margin: 5% 0;
    overflow: hidden;
    text-align: center;
    width: 100%;
}

.menu-toggle:before {
	color: #fff;
	content: "\f419\f419\f419\f419\f419\f419\f419\f419\f419\f419\f419\f419\f419\f419\f419";
	/*content: "Navigate to ...";*/
	margin-top: 16px;
}

.menu-toggle:active,
.menu-toggle:focus,
.menu-toggle:hover {
	background-color: #444;
}

.menu-toggle:focus {
	outline: 1px dotted;
}
.nav-menu{
	margin:0;
}

.nav-menu li{
	border-right: 2px solid #818285;
    display: inline-block;
    list-style: none outside none;
    margin: 2% 0;
    padding: 0 2%;
}
.nav-menu li:last-child {
	border-right:none;
}
.nav-menu  li:last-child a{ 
    border-right:none; 
} 

.nav-menu li a{color:#818285; font-size: 100%;}

/*Top Mobile Menu*/
.topMobileMenu{
	background-color:#2272ba;
	width:60%;
	float:left;
	height:32px;
	display:none;
}
#mobileMenu{width:100%; float:left; display:none;}
#mobileMenu ul{ margin:0; float:left; background-color:#414042; margin-bottom:20px; width:100%;}
#mobileMenu ul li{ list-style:none; margin:4px 5px; background-color:#414042; float:left;}
#mobileMenu ul li a{
	color: #FFFFFF;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 89%;	
}
#mobileMenu ul li a:hover{color:#fff;}

.topMobileMenu button:before {
	color: #fff;
	content: "\f419";
	display: inline-block;
    font: 16px/1 Genericons;
    text-decoration: inherit;
    vertical-align: text-bottom;
}

.topMobileMenu button:active,
.topMobileMenu button:focus,
.topMobileMenu button:hover {
	background-color: #444;
}
.topMobileMenu button{
	background-color: #414042;
	border-radius: 0;
	border:none;
	cursor: pointer;
	font-size: 0;
	height: 32px;
	margin: 0;
	overflow: hidden;
	padding: 0;
	text-align: center;
	width: 48px;	
}
/*Top Mobile Menu*/


.topBlockLeft{
	background-color:#2272ba;
	width:82%;
	float:left;
	text-align:right;
	height:32px;
}
.topBlockLeft ul{margin:4px 0 0 0;}
.topBlockLeft li{list-style-type:none; display:inline-block; margin-right:10px; }
.topBlockLeft a{
	color:#FFF;
	font-size: 89%;
	font-family:Arial, Helvetica, sans-serif;
}

.topBlockRight{
	background-color:#f1f0f0;
	width:18%;
	float:right;
	height:32px;
}
.topBlockRight .login{
	color: #595A5C;
	float: left;
	font-size: 89%;
	padding:6px;
}

.topBlockRight .icons{ float:right; margin-right:20px;}


.logoStrip {
    background: url("../images/logoStrip_bg.jpg") repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 100%;
    width: 100%;
	float:left;
	margin-bottom:50px;
}
#logoStripPanel {
    margin: auto;
    width: 85%;
}
#logoStripPanel #logos {
    border: 2px solid #cccccc;
    float: left;
    height: 100%;
    margin-left: 2%;
    margin-top: 0.5%;
    padding-left: 1%;
}
#logoStripPanel #logos ul {
    margin: 0;
    padding: 0;
}
#logoStripPanel #logos li {
    display: inline-block;
    float: left;
    list-style: none outside none;
    margin-right: 20px;
}
#loved_by {
    float: left;
}
#be_our_buddy {
    float: left;
    margin-left: 50px;
}
#logoStripPanel #social {
    border: 2px solid #cccccc;
    float: left;
    height: 100%;
    margin-left: 1%;
    margin-top: 0.5%;
    padding-left: 1%;
}
#logoStripPanel #social ul {
    margin: 0;
    padding: 0;
}
#logoStripPanel #social li {
    display: inline-block;
    float: left;
    list-style: none outside none;
    margin-right: 10px;
}

.overlap_wrapper {
	margin:auto;
    width:70%;
}
.big_search {
    background: url("../images/trans_bg.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
    float: left;
    padding: 4px;
    width: 100%;
}
.big_search_inner {
    background: none repeat scroll 0 0 #fff;
    float: left;
    width: 100%;
}
.big_search_inner .input_txtbox {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color #b7b7b7 -moz-use-text-color -moz-use-text-color;
    border-image: none;
    border-style: none solid none none;
    border-width: medium 2px medium medium;
    color: #a1a1a1;
    float: left;
    font-size: 25px;
    font-weight: bold;
    margin: 12px 0;
    padding: 12px 20px;
    width: 55%;
}
.drop_style {
    border: medium none;
    color: #8a8a8a;
    float: left;
    font-size: 18px;
    font-weight: bold;
    margin: 12px 0;
    padding: 16px 20px;
    width: 18%;
}
.big_search_inner .input_drop {
    border: medium none;
    margin: 12px -195px;
    opacity: 0;
    padding: 19px 20px;
    position: absolute;
    width: 22%;
}
.big_srch {
    background: url("../images/big_btn.jpg") repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    cursor: pointer;
    float: right;
    height: 81px;
    width: 134px;
}
.overlap_wrapper ul {
    float: left;
    margin: 55px 0 0 161px;
    padding: 0;
}
.overlap_wrapper ul li {
    float: left;
    list-style: none outside none;
}
.overlap_wrapper ul li a {
    background: none repeat scroll 0 0 #2272ba;
    box-shadow: 1px 2px 6px 1px rgba(36, 36, 36, 1);
    font-size: 23px;
    font-weight: bold;
    margin-right: 10px;
    padding: 10px 20px;
}

.option_section{float:left; padding-top:40px; margin:0 10px 55px!important;}

/*Footer*/
.site-footer{width:100%; margin:auto; float:left; background:none repeat scroll 0 0 #414042;}

#footerHouse{
	float:left; width:43.8%;background-color: #414042;
}
#footerHouse img{width:100%;}
#footer_main{
	margin:24px auto;
    width:65%;
}
.footer_main{
	background-color: #414042;
	width:100%;
	float:left;
}

#footer_block{
	float:left;
	width: 100%;
	margin-left:65px;
	margin-bottom:20px;
}
#footer_block .siteInfo, #footer_block .siteInfo a{ color:#FFF; margin-top:20px; line-height:15px; font-size:13px;}
#footer_block .siteInfo{float:left; width:30%;}
#footer_block .siteInfo img{float:left; margin-right:10px;}
#footer_block .siteInfo input{ padding:10px; margin-right:2px;}
.subscribe_to_us{width:40%!important;}

#footer_main .copyright{border-top:2px solid #575758; float:left; width:85%;color:#FFF;
	font-size: 62%;;
	margin-top:1%;
	padding-top:20px;
	margin-left:5%;
	padding-bottom:1.8%;
}

#footer_main .copyright ul{float:right; margin:0;}
#footer_main .copyright ul li:last-child {margin-right: 0;}
#footer_main .copyright ul li{display:inline-block; list-style:none;  margin-right:3px;}
#footer_main .copyright ul li a{color:#FFF; }
#scroll{
	bottom: 60px;
	float: right;
	height: 0;
	position: relative;
	right: 5px;
}
#scroll img{ float:left; }
/*Footer*/

@media screen and (max-width: 400px) {
	#footerHouse{width:100%!important;}
	#footer_main{width:100%!important; margin:0!important;}
	.footer_main{width:100%!important; margin:0!important;}
	#footer_block{margin:12% 0 0 12% !important;; width:100%!important;}
	#footer_main .copyright{margin-top:5%!important;padding-top:5%!important;}
}

@media screen and (min-width: 401px) and (max-width: 426px) { #logos li:nth-child(n+7) {display: none!important;} }

@media screen and (min-width: 501px) and (max-width: 1095px) {
	#logoLeftPanel{width:500px!important; float:none!important; margin:10px auto!important;}
	#logoRightPanel{width:500px!important; float:none!important; margin:auto!important;}
	#logoRightPanel #be_our_buddy{width:auto!important;}
	#logoRightPanel #social{width:auto!important;}
}

@media screen and (min-width: 401px) and (max-width: 850px) {
	#footerHouse{width:100%!important;}
	#footer_main{width:100%!important; margin:0!important;}
	.footer_main{width:100%!important; margin:0!important;}
	#footer_main .copyright{margin-top:5%!important;padding-top:5%!important;}

}

@media screen and (min-width: 401px) and (max-width: 660px) {
	#footer_block a img{width:100%!important;}
}


@media only screen and (min-width:848px) and (max-width: 1224px) {
	#footer_block a img{width:100%!important;}
}

@media only screen and (min-width:848px) and (max-width: 960px) {
	#footerHouse img{height:299px;}
}
@media only screen and (min-width:961px) and (max-width: 1023px) {
	#footerHouse img{height:288px;}
}
@media only screen and (min-width:970px) and (max-width: 990px) {
	#footerHouse img{height:286px;}
}
@media only screen and (min-width:991px) and (max-width: 1050px) {
	#footerHouse img{height:289px;}
}
@media only screen and (min-width:1051px) and (max-width: 1150px) {
	#footerHouse img{height:282px;}
}
@media only screen and (min-width:1151px) and (max-width: 1250px) {
	#footerHouse img{height:289px;}
}
@media only screen and (min-width:1251px) and (max-width: 1280px) {
	#footerHouse img{height:293px;}
}
