/* Style Sheet for Header Callout */

/* CSS Important */

.top_header_ava {
    float: left !important;
    margin-right: 15px !important;
    max-width: 90px;
}

.topBlockRight {
    position: relative;
}

/* CSS Work */

.top_header_ava img {
    -webkit-box-shadow: 4px 5px 4px -3px rgba(0,0,0,0.3);
    -moz-box-shadow: 4px 5px 4px -3px rgba(0,0,0,0.3);
    box-shadow: 4px 5px 4px -3px rgba(0,0,0,0.3);
}

span.icon-callout {
    color: #AAA;
    background-color: #f1f0f0 !important;
    border: 2px solid #ddd !important;
    border-radius: 15px !important;
    margin-top: 2px;
    display: inline-block;
    height: 11px;
    width: 10px;
}

.popover.user-info-callout{
    position: relative;
    width: 225px;
    margin: 6px 100px;
    z-index: 99999;
    border-radius: 15px;
    margin-left: -127px
}

.popover.user-info-callout img {
    height: 30px;
    width: 30px;
    box-shadow: none;
}

.popover.bottom.user-info-callout .arrow, .popover.bottom.user-notification-callout .arrow {
    left: 77%;
}

p.callout-logout {
    background: #2272ba;
    overflow: hidden;
    border-radius: 15px;
    padding: 5px 15px;
    color: #fff;
    margin-bottom: 2px;
}

p.callout-logout a {
    font-weight: bold;
}

p.callout-logout a:hover {
    color: #fff;
}

p.callout-info {
    padding: 0 10px;
}

p.callout-info span {
    font-size: 15px;
}

.user-info-callout .popover-content {
    padding: 10px 2px 1px;
}

span.top_header_ava:hover .popover.user-info-callout {
    display: block !important;
}

a.callout-notification:hover {
    text-decoration: none;
}

.popover.user-notification-callout{
    position: absolute;
    width: 323px;
    margin: 6px 100px;
    z-index: 99999;
    border-radius: 15px;
    max-width: 500px;
    left: -236px;
    top: 25px;
    /*display: block;*/
}

.popover.user-notification-callout ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.popover.user-notification-callout ul li {
    position: relative;
    display: block;
    padding: 10px 10px 10px 0px;
    color: #818285;
    border-bottom: 1px solid #ebebeb; 
    cursor: default;
}

.popover.user-notification-callout ul li span {
    position: absolute;
    top: 12px;
    right: 0;
    cursor: pointer;
    background: #818285;
    color: #fff;
    border-radius: 15px;
    font-size: 8px;
    padding: 3px 4px;
}

.popover.user-notification-callout ul li a {
    color: #818285;
}

.callout-notification {
    position: relative;
}

.count-notif{
    color: #fff;
    font-weight: bold;
    font-size: 10px;
    position: absolute;
    top: -5px;
    left: 10px;
    background: #ea6153;
    border-radius: 5px;
    padding: 0 3px;
}

li#view-more-notif {
    text-align: center;
}

#view-more-notif a {
    color: #2272ba;
    text-decoration: none;
}